.section {
  height: 100vh;
}
.cardContainer {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  height: auto;
}

.caard {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 3px gray;
  background-color: white;
  height: 450px;
}
.cardImg,
.cardBody {
  height: 200px;
  width: 90%;
  margin: auto;
}
.search {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
